@font-face {
  font-family: Klaxons;
  src: url(../Klaxons.otf);
}

.logo {
    font-family: Klaxons;
    color: magenta;
    text-shadow: 0 0 3px #FF0000;
}

.title {
	font-family: Klaxons;
    color: magenta;
    text-shadow: 0 0 3px #FF0000;
    display: flex;
    justify-content: center;
    font-size: 70px;
}

nav {
    display: flex;
    list-style-type: none;
    justify-content: center;
}
nav li {
    
    list-style-type: none;
    display: inline;
}

.footer {
    display: flex;
}

.footer__section--left {
    flex-basis: 70%;
}
