@font-face {
  font-family: Klaxons;
  src: url(./assets/Klaxons.otf);
}

.pageTitle {
	font-family: Klaxons;
}

nav {
    display: flex;
    list-style-type: none;
    justify-content: center;
}
nav li {
    border: 1px solid black;
    list-style-type: none;
    display: inline;
}

.footer {
    display: flex;
}

.footer__section--left {
    flex-basis: 70%;
}
